<!DOCTYPE HTML>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0 minimal-ui"/>
<meta name="apple-mobile-web-app-capable" content="yes"/>
<meta name="apple-mobile-web-app-status-bar-style" content="black">


<link rel="icon" type="image/png" href="img/splash/android-chrome-192x192.png" sizes="192x192">
<link rel="apple-touch-icon" sizes="196x196" href="img/splash/apple-touch-icon-196x196.png">
<link rel="apple-touch-icon" sizes="180x180" href="img/splash/apple-touch-icon-180x180.png">
<link rel="apple-touch-icon" sizes="152x152" href="img/splash/apple-touch-icon-152x152.png">
<link rel="apple-touch-icon" sizes="144x144" href="img/splash/apple-touch-icon-144x144.png">
<link rel="apple-touch-icon" sizes="120x120" href="img/splash/apple-touch-icon-120x120.png">
<link rel="apple-touch-icon" sizes="114x114" href="img/splash/apple-touch-icon-114x114.png">
<link rel="apple-touch-icon" sizes="76x76" href="img/splash/apple-touch-icon-76x76.png">
<link rel="apple-touch-icon" sizes="72x72" href="img/splash/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="60x60" href="img/splash/apple-touch-icon-60x60.png">
<link rel="apple-touch-icon" sizes="57x57" href="img/splash/apple-touch-icon-57x57.png">  
<link rel="icon" type="image/png" href="img/splash/favicon-96x96.png" sizes="96x96">
<link rel="icon" type="image/png" href="img/splash/favicon-32x32.png" sizes="32x32">
<link rel="icon" type="image/png" href="img/splash/favicon-16x16.png" sizes="16x16">
<link rel="shortcut icon" href="img/splash/favicon.ico" type="image/x-icon" /> 
    
<title>Antar antar</title>


<link href="../css/style.css"           rel="stylesheet" type="text/css">
<link href="../css/framework.css"       rel="stylesheet" type="text/css">
<link href="../css/font-awesome.css"    rel="stylesheet" type="text/css">
<link href="../css/animate.css"         rel="stylesheet" type="text/css">

<script type="text/javascript" src="../js/jquery.js"></script>
<script type="text/javascript" src="../js/jqueryui.js"></script>
<script type="text/javascript" src="../js/framework-plugins.js"></script>
<script type="text/javascript" src="../js/custom.js"></script>
<script type="text/javascript" src="../js_service/service.js"></script>
</head>


<body class="dual-sidebar"> 
<div id="header-fixed">
    <a class="open-left-sidebar" href="antar-barang.html"><i class="fa fa-chevron-left"></i></a>
</div>    
        
        
          <div id="content" class="snap-content">
            <div class="content">
         <div class="header-clear-large"></div>
                    
   <div class="container heading-style-5">

                    <h4 class="heading-title">Data Pesanan</h4>
                    <i class="fa fa-map-marker heading-icon" ></i>
                    <div class="line bg-black"></div>
                </div> 
                   <div class="pageapp-timeline-2">
                    <div class="timeline-decoration" style="border:dotted 1px; "></div>
                    <div class="timeline-item">
                        <div class="timeline-icon">
                            <i class="fa fa-motorcycle" style="color:orange;"></i>
                        </div>
                        <div class="timeline-text">
                            <h5 class="title" id="lokasi"></h5>
                            <em class="subtitle">Alamat Detail</em>
                            <p id="lokasi_detail">
                              
                            </p>
                        </div>
                    </div>
                    <div class="timeline-item">
                        <div class="timeline-icon">
                            <i class="fa fa-motorcycle" style="color:green;"></i>
                        </div>
                        <div class="timeline-text">
                               <h5 class="title" id="tujuan"></h5>
                            <em class="subtitle">Alamat Detail</em>
                            <p id="tujuan_detail">
                                </p>
                        </div>
                    </div>
                   
                
                </div>  


                    <span class="button button-fullscreen" style="border:dotted 1px orange; color: black;border-radius:5px;">
                    <i class="fa fa-money"></i>Harga : Rp.3000<br>
                    <i class="fa fa-list"></i>Antar Barang Harian
                    </span>
                    <a href="selesai-antar-barang.html" class="button button-orange button-round button-fullscreen">Pesan</a>    
                </div>   
            

                    </div>
            <!-- End of entire page content-->
            </div> 
        </div>
    </div>  
   
</div>
    
    
<!--Fly up share box and notifications go here -->
<!--These are the only features that should be placed outside the all-elements class-->


    
</body>






























